<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SRSuite.Properties.Settings>
            <setting name="setting_context_menu_integration_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_rename_fileext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_folders_show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_files_show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_dirlist_cb_enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_initrule_searchreplace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_initrule_numbering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_initrule_prepend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_initrule_append" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_initrule_regremove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_initrule_regreplace" serializeAs="String">
                <value>False</value>
            </setting>
        </SRSuite.Properties.Settings>
    </userSettings>
</configuration>